
<h6 class="text-uppercase text-spacing-60">Archives</h6>
                    <div class="text-subline"></div>

<ul class="list list-marked offset-top-30">
<% @articles_by_month.each do |monthname, articles| %>
  <li><%= link_to monthname, archived_articles_path(:month => monthname) %> (<%= articles.count %>) </li>
  
  <!--<ul id="archive">-->
  <!-- <%# articles.each do |article| %>-->
  <!--<li class="archive-post"><%#= link_to article.title, article_path(article) %></li>-->
<!--<%# end %>-->
<% end %>



                      <!--<li><a href="#">January 2016 <span class="text-dark">(17)</span></a></li>-->
                      <!--<li><a href="#">December 2015 <span class="text-dark">(121)</span></a></li>-->
                      <!--<li><a href="#">November 2015 <span class="text-dark">(19)</span></a></li>-->
                      <!--<li><a href="#">October 2015 <span class="text-dark">(9)</span></a></li>-->
                      <!--<li><a href="#">September 2015 <span class="text-dark">(25)</span></a></li>-->
                    </ul>