<% @articles.each do |article| %>
                        <article class="post post-default text-left">
                          <!-- Post Header-->
                          <div class="header post-header">
                            <!-- Post Meta-->
                            <ul class="post-controls list-inline list-inline-sm p text-dark">
                              <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-clock"></span>
                                <time datetime="01-01-2016" class="text-middle small"><%= article.date.strftime('%b %e, %Y') %></time>
                              </li>
                              <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-account-outline">&nbsp;</span><span class="text-middle small">PaulC</span></li>
                              <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-folder-outline">&nbsp;</span>
                              
                              <% article.tags.each do |tag| %>
                                <%= link_to tag.name.titlecase, category_articles_path(tag), class: 'text-middle' %>
                                <% end %>
                                <% article.tags.map{ |tag| link_to(tag.name, category_articles_path(tag))}.join(", ").html_safe  %>
                              </li>
                              <!--<li><span class="text-middle icon-xxs text-picton-blue mdi mdi-comment-multiple-outline">&nbsp;</span><a href="articles-default-single-left-sidebar.html#comments" class="text-middle small">42<span>&nbsp;Comments</span></a></li>-->
                            </ul>
                              <!-- Post Meta-->
                              <h3 class="post-title"><%= link_to  article.title.html_safe, article_path(article) %></h3>
                                <!-- Post Media-->
                                <!--<div class="post-media offset-top-34">-->
                                <!--  <header class="post-media">-->
                                <!--    <div data-photo-swipe="gallery" class="thumbnail-classic" >-->
                                      <!--<a class="thumbnail-classic" href="articles-default-single-left-sidebar.html" target="_self">-->
                                <!--                        <figure><img width="570" height="321" src="assets/articles/WirelessCamera3.png" alt="">-->
                                <!--                        </figure>-->
                                      <!--</a>-->
                                <!--    </div>-->
                                <!--  </header>-->
                                <!--</div>-->
                          </div>
                            <!-- PostContent-->
                          <section class="post-content offset-top-41">
                            <%= article.contentshort.html_safe %> 
                            
                            <% unless article.contentlong.blank? %> (cont.)
                            <br>
                             <%= link_to 'Read More', article_path(article), class: "offset-top-10 btn btn-default" %>
                            <% end %>
                          </section>
                        </article>
                      <hr class="hr offset-top-66">
                        
                    <% end %>
                  
                  <div class="offset-top-66">
                                    <!-- Bootstrap Pagination-->
                                    <!--<%#= will_paginate %>-->
                                    
                  </div>