<%= form_for(@article) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :contentshort %><br>
    <%= f.cktext_area :contentshort %>
  </p>
  
  <p>
    <%= f.label :contentlong %><br>
    <%= f.cktext_area :contentlong %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>
  <p>
  <%= f.label :tag_list %><br />
  <%= f.text_field :tag_list %>
</p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>