<% @latests.each do |c| %>
<article class="post widget-post text-left text-picton-blue">
  <%= link_to article_path(c) do %>
                            <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                              <div class="unit-body">
                                <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right"></span>
                                  <span class = "text-dark"><%= c.date.strftime('%b %e, %Y') %></span>
                                </div>
                                <div class="post-title">
                                  <h6 class="text-regular"><%= c.title %></h6>
                                </div>
                              </div>
                            </div>
                            <% end %>
                            </article>

<% end %>


