<div class="page text-center">
      <!-- Page Header-->
     
     
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>

      <main class="page-content section-98 section-sm-110">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-md-8 cell-md-push-2">
              <div class="inset-md-left-20">
                <section>
                  <!-- Post Wide-->
                    <%= render :partial => 'body' %>
                </section>
              </div>
            </div>
            <div class="cell-md-4 cell-md-push-1 offset-top-66 offset-md-top-0" >
              <!-- Section articles Modern-->
              <aside class="text-left" >
                
                <%= render :partial => 'tags/tags' %>
                
                <%= render :partial => 'archive' %>
                </aside>
            </div>
                
              
          </div>
        </div>
      </main>
     <%= render 'layouts/footer' %>
</div>
   
   
   