<div class="page text-center">
      <!-- Page Header-->
     
     
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>

      <!-- Page Content-->
      <main class="page-content section-98 section-sm-110">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-md-8 cell-md-push-2">
              <div class="inset-md-left-20">
                
                <section>
                  
                                  <!-- Post Wide-->
                                  <article class="post post-default text-left">
                                   
                                    <!-- Post Header-->
                                    <div class="header post-header">
                                      <!-- Post Meta-->
                                      <ul class="post-controls list-inline list-inline-sm p text-dark">
                                        <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-clock"></span>
                                          <time datetime="2016-01-01" class="text-middle small"><%= @article.date.strftime("%b %-d, %Y") %></time>
                                        </li>
                                        <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-account-outline">&nbsp;</span><span class="text-middle small">PaulC</span></li>
                                        <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-folder-outline">&nbsp;</span>
                                         
                                          
                                          <% @article.tags.each do |tag| %>
                                            <%= link_to tag.name.titlecase, category_articles_path(tag), class: 'text-middle' %>
                                          <% end %>
                                
                                          
                                        
                                        
                                        
                                        <!--<a href="#" class="text-middle">UX</a>, <a href="#" class="text-middle">Design</a>-->
                                        </li>
                                        <!--<li><span class="text-middle icon-xxs text-picton-blue mdi mdi-comment-multiple-outline">&nbsp;</span><a href="#comments" class="text-middle small">4<span>&nbsp;Comments</span></a></li>-->
                                      </ul>
                                      <!-- Post Meta-->
                                      <h3 class="post-title"><%= @article.title %></h3>
                                    
                                      <!-- Post Media-->
                                      <!--<div class="post-media offset-top-34">-->
                                      <!--  <header class="post-media">-->
                                      <!--    <div data-photo-swipe="gallery"><a class="thumbnail-classic" href="#" target="_self">-->
                                      <!--                        <figure><img width="570" height="321" src="images/article/post-01-570x321.jpg" alt="">-->
                                      <!--                        </figure></a>-->
                                      <!--    </div>-->
                                      <!--  </header>-->
                                      <!--</div>-->
                                    </div>
                                    <!-- PostContent-->
                                    <section class="post-content offset-top-41">
                                      <%= @article.contentshort.html_safe %>
                                      <%= @article.contentlong.html_safe %>
                                    </section>
                                    
                                  </article>
                  <!--<footer class="offset-top-50 text-sm-left clearfix">-->
                  <!--  <h6 class="pull-sm-left">Share this post:</h6>-->
                  <!--  <ul class="list-inline small pull-sm-right p offset-top-0 text-sm-right">-->
                  <!--    <li><a href="#" class="fa fa-facebook"></a></li>-->
                  <!--    <li><a href="#" class="fa fa-twitter"></a></li>-->
                  <!--    <li><a href="#" class="fa fa-google-plus"></a></li>-->
                  <!--    <li><a href="#" class="fa fa-pinterest"></a></li>-->
                  <!--  </ul>-->
                  <!--</footer>-->
                  <hr class="offset-top-66">
                  <!--<h4 class="offset-top-66 text-uppercase text-spacing-120 text-left text-bold">Related Posts</h4>-->
                  <!--<div class="range offset-top-41">-->
                  <!--  <div class="cell-md-6">-->
                                      <!-- Post Widget-->
                  <!--                    <article class="post widget-post text-left"><a href="article-classic-single-post.html">-->
                  <!--                        <div class="unit unit-horizontal unit-spacing-xs unit-middle">-->
                  <!--                          <div class="unit-left"><img width="60" height="60" src="images/users/user-john-doe-60x60.jpg" alt="" class="img-circle"></div>-->
                  <!--                          <div class="unit-body">-->
                  <!--                            <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-picton-blue"></span>-->
                  <!--                              <time datetime="2016-01-01" class="text-dark">05/14/2015</time>-->
                  <!--                            </div>-->
                  <!--                            <div class="post-title">-->
                  <!--                              <h6 class="text-regular">Making Money Online with Your Computer Only</h6>-->
                  <!--                            </div>-->
                  <!--                          </div>-->
                  <!--                        </div></a></article>-->
                  <!--    <div class="offset-top-24">-->
                                        <!-- Post Widget-->
                  <!--                      <article class="post widget-post text-left"><a href="article-classic-single-post.html">-->
                  <!--                          <div class="unit unit-horizontal unit-spacing-xs unit-middle">-->
                  <!--                            <div class="unit-left"><img width="60" height="60" src="images/users/user-bernard-show-60x60.jpg" alt="" class="img-circle"></div>-->
                  <!--                            <div class="unit-body">-->
                  <!--                              <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-picton-blue"></span>-->
                  <!--                                <time datetime="2016-01-01" class="text-dark">05/18/2015</time>-->
                  <!--                              </div>-->
                  <!--                              <div class="post-title">-->
                  <!--                                <h6 class="text-regular">Proper Color Solutions For The Office</h6>-->
                  <!--                              </div>-->
                  <!--                            </div>-->
                  <!--                          </div></a></article>-->
                  <!--    </div>-->
                  <!--  </div>-->
                  <!--  <div class="cell-sm-6 offset-top-24 offset-sm-top-0">-->
                                      <!-- Post Widget-->
                  <!--                    <article class="post widget-post text-left"><a href="article-classic-single-post.html">-->
                  <!--                        <div class="unit unit-horizontal unit-spacing-xs unit-middle">-->
                  <!--                          <div class="unit-left"><img width="60" height="60" src="images/users/user-sam-cole-60x60.jpg" alt="" class="img-circle"></div>-->
                  <!--                          <div class="unit-body">-->
                  <!--                            <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-picton-blue"></span>-->
                  <!--                              <time datetime="2016-01-01" class="text-dark">05/9/2015</time>-->
                  <!--                            </div>-->
                  <!--                            <div class="post-title">-->
                  <!--                              <h6 class="text-regular">Going Green Is So Much Simpler Than Most People Think</h6>-->
                  <!--                            </div>-->
                  <!--                          </div>-->
                  <!--                        </div></a></article>-->
                  <!--    <div class="offset-top-24">-->
                                        <!-- Post Widget-->
                  <!--                      <article class="post widget-post text-left"><a href="article-classic-single-post.html">-->
                  <!--                          <div class="unit unit-horizontal unit-spacing-xs unit-middle">-->
                  <!--                            <div class="unit-left"><img width="60" height="60" src="images/users/user-july-mao-60x60.jpg" alt="" class="img-circle"></div>-->
                  <!--                            <div class="unit-body">-->
                  <!--                              <div class="post-meta"><span class="icon-xxs mdi mdi-arrow-right text-picton-blue"></span>-->
                  <!--                                <time datetime="2016-01-01" class="text-dark">05/21/2015</time>-->
                  <!--                              </div>-->
                  <!--                              <div class="post-title">-->
                  <!--                                <h6 class="text-regular">Let’s Change the world</h6>-->
                  <!--                              </div>-->
                  <!--                            </div>-->
                  <!--                          </div></a></article>-->
                  <!--    </div>-->
                  <!--  </div>-->
                  <!--</div>-->
                  
                </section>
              </div>
            </div>
            <div class="cell-md-4 cell-md-push-1 offset-top-66 offset-md-top-0">
              <!-- Section article Modern-->
              <aside class="text-left">
                
                <%= render :partial => 'tags/tags' %>
                
                <%= render :partial => 'archive' %>
              </aside>
            </div>
          </div>
        </div>
      </main>
      <!-- Page Footers-->
      <!-- Default footer-->
       <%= render 'layouts/footer' %>
    </div>
    