
      <!-- Page Content-->
      <main class="page-content">
        <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
        
        <!--Section Themes catalog-->
        <section class="section-bottom-66 section-sm-bottom-110 section-top-34 section-md-top-66">
          <div class="shell">
            <div class="range">
              <div class="cell-sm-6 cell-md-4"><img src="images/products/product-bakery-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/bakery-multipurpose-website-template-58900.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Bakery Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Food & Restaurant</li>
                    <li>Food & Drink Templates</li>
                    <li>Bakery Templates</li>
                  </ul>
                  <div>
                    <p>Bakery is a multipurpose Baking Website Template designed with a hint of vintage to better match its topic. This template comes with a full spectrum of page types: landings, specific-purpose pages such as 404 and About Us, articles and eCommerce layouts, and many more.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-0"><img src="images/products/products-tartup-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/responsive-website-template-58730.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Startup - Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Sports, Outdoors & Travel</li>
                    <li>Sport Templates</li>
                  </ul>
                  <div>
                    <p>This is an HTML Multipurpose Theme, which means that you can build absolutely everything on its basis. The theme has a fixed position menu that sticks to the top of the page when you begin to scroll down.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50 offset-md-top-0"><img src="images/products/products-modicate-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/58434.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Modicate Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Website Templates </li>
                    <li>Business & Services</li>
                  </ul>
                  <div>
                    <p>Modicate is a modern, multipurpose HTML theme built with Twitter Bootstrap 3.x framework. The template comes with 58 ready made unique pages, various headers, footers and content block allowing to create eye catching and truly flexible websites for any purpose and project.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="images/products/product-construction-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/58533.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Construction Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Design</li>
                    <li>Architecture</li>
                    <li>Construction Company Templates</li>
                  </ul>
                  <div>
                    <p>If you are looking for features rich industrial bootstrap theme we highly recommend to take a closer look at Construction. The theme is built with Twitter Bootstrap 3 framework that guarantees great performance at any device with any screen resolution.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="images/products/product-grand-vector-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/vector-grand-website-template-58530.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Grand Vector - Design Studio Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Website Templates</li>
                    <li>Business & Services</li>
                  </ul>
                  <div>
                    <p>This Manager Website Template offers you literally endless possibilities for building a unique website with cutting-edge design, clean professional code and lots of pre-designed pages for all kinds of businesses.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="images/products/product-organic-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/organic-agriculture-farm-multipurpose-website-template-58580.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Organic - Agriculture Farm Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Business & Services</li>
                    <li>Agriculture Templates</li>
                  </ul>
                  <div>
                    <p>Organic Agricultural Farm is a fully responsive multipurpose website template that can be used for farming, industrial, business or any other web project. Designed as per the latest web trends, the template features a full-width header video, which captivates the users' attention once they land on your site.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="images/products/product-transporation-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="//www.templatemonster.com/website-templates/cargo-multipurpose-transportation-website-template-58899.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">Cargo - Multipurpose Transportation Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Business & Services</li>
                    <li>Transportation Templates</li>
                  </ul>
                  <div>
                    <p>Want to stand out among your peers? An outstanding website design is what you need. Try out this responsive Transportation Website Template and see for yourself that modern web technologies are beneficial for any industry.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="images/products/products-king-news-370x230.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary"><a href="http://www.templatemonster.com/website-templates/king-news-multipurpose-website-template-58731.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">King News - Multipurpose Website Template</a></h5>
                  </div>
                  <h6 class="offset-top-10"> Single site license - $75</h6>
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Business & Services</li>
                    <li>Media Templates</li>
                    <li>News Portal Templates</li>
                  </ul>
                  <div>
                    <p>KingNews is a multipurpose HTML template for articless and magazines. Its fully responsive layout was built with Bootstrap 3.3, ensuring that your website will adapt flawlessly to any screen size and resolution.</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>
      </main>
      
      </div>
      