
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-top-98 section-sm-top-110">
          <div class="shell">
            <h1>Contact Us</h1>
            <hr class="divider bg-mantis">
          </div>
          <!-- Contact Us-->
          <section>
            <div class="shell-fluid">
              <div class="range range-xs-center text-sm-left offset-top-50">
                <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-xl-6 text-left">
                  <p>Use the form below or click the <a style="color:blue" href="mailto:paul@denversecuritycamera.com?subject=web inquiry">Email Us</a> link and I'll do my best to respond as quickly as I can. Or feel free to call, I would be happy to answer your questions or offer any help.</p>
                  <p><b>Note: I don't have this form wired up to forward the message to me yet.... for now, please <a style="color:blue" href="mailto:paul@denversecuritycamera.com?subject=web inquiry">Email</a> me with any comments or questions. <br> Thanks.</b></p>
                </div>
              </div>
              <div class="range range-xs-center text-sm-left offset-top-50">
                <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-5 cell-xl-4">
                  <!-- RD Mailform-->
                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                    <div class="range">
                      <div class="cell-lg-6">
                        <div class="form-group">
                          <label for="contact-me-name" class="form-label">Name</label>
                          <input id="contact-me-name" type="text" name="name" data-constraints="@Required" class="form-control">
                        </div>
                      </div>
                      <div class="cell-lg-6 offset-top-20 offset-lg-top-0">
                        <div class="form-group">
                          <label for="contact-me-phone" class="form-label">Phone (optional)</label>
                          <input id="contact-me-phone" type="text" name="phone"   class="form-control">
                        </div>
                      </div>
                      <div class="cell-lg-12 offset-top-20 offset-lg-top-30">
                        <div class="form-group">
                          <label for="contact-me-email" class="form-label">E-Mail</label>
                          <input id="contact-me-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                        </div>
                      </div>
                      <div class="cell-lg-12 offset-top-20 offset-lg-top-30">
                        <div class="form-group">
                          <label for="contact-me-message" class="form-label">Message</label>
                          <textarea id="contact-me-message" name="message" data-constraints="@Required" style="height: 150px" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="range range-xs-center range-lg-left text-center text-lg-left offset-top-30">
                      <div class="cell-xs-8 cell-sm-6">
                        <button type="submit" class="btn btn-lg btn-block btn-primary">send message</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-3 cell-xl-2 offset-top-50 offset-lg-top-0">
                  <div class="inset-xl-right-20 text-center text-lg-left">
                    <address class="contact-info reveal-sm-inline-block text-left">
                      <!--<div class="unit unit-spacing-sm unit-horizontal p">-->
                      <!--  <div class="unit-left"><span class="icon icon-xxs fa fa-map-marker"></span></div>-->
                      <!--  <div class="unit-body"><a href="#">8901 Marmora Road, Glasgow, D04 89GR</a></div>-->
                      <!--</div>-->
                      <div class="p unit unit-spacing-xs unit-horizontal offset-top-20">
                        <div class="unit-left"><span class="icon icon-xxs fa fa-phone"></span></div>
                        <div class="unit-body">303-301-5124</div>
                      </div>
                      <div class="p unit unit-spacing-xs unit-horizontal offset-top-10">
                        <div class="unit-left"><span class="icon icon-xxs fa fa-envelope"></span></div>
                        <div class="unit-body"><a href="mailto:paul@denversecuritycamera.com?subject=web inquiry">Email Us</a></div>
                      </div>
                    </address>
                  </div>
                  <!--<div class="text-center text-lg-left offset-top-30">-->
                  <!--            <ul class="list-inline">-->
                  <!--              <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                  <!--              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                  <!--              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                               
                  <!--            </ul>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </section>
          <!-- Section RD Google Map-->
          <section class="offset-top-98">
                      <!-- RD Google Map-->
                      <div class="rd-google-map">
                        <div id="rd-google-map" data-zoom="14" data-x="-73.9874068" data-y="40.643180" data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' class="rd-google-map__model"></div>
                        <ul class="rd-google-map__locations">
                          <li data-x="-73.9874068" data-y="40.643180">
                            <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45</p>
                          </li>
                        </ul>
                      </div>
          </section>
        </section>
      </main>
      <!-- Page Footers-->
      
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    