
    <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
      <div class="page text-center">
      
      <!-- Page Content-->
      <main class="page-content section-98 section-sm-110">
        <!-- FAQ-->
        <section class="text-left">
          <div class="shell">
            <div class="range">
              <div class="cell-md-6">
                <h3>General Questions <!--<small class="text-dark">(2)</small>--> </h3>
                <p>All you need to know about Denver Security Camera.</p>
                <div class="offset-sm-top-34">
                  <!-- Bootstrap Accordion-->
                  <div role="tablist" aria-multiselectable="true" id="accordion-1" class="panel-group accordion offset-top-0">
                    <div class="panel panel-default">
                      <div role="tab" id="headingOne" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" class="collapsed">Can you install a system at my home?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingOne" id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">While we primarily focus on commercial clients, we have and do on occasion install home systems. Residential homes present a unique set of challenges when installing a camera system. Many times, the only way to economically run the cable to the camera is along the exterior of the home,
                        which homeowners could find unsightly. If you happen to own a single story home with an attic, it is relatively straightforward to mount the cameras on the eaves and run the cables across the attic and down
                        through a closet or interior wall to the DVR location. The same is true for 2 story homes but generally that puts the cameras higher than optimal. Other than that, While not impossible to completely hide the wires, it <i><b>can</b></i> be rather involved and expensive. 
                        This usually leads to the next logical question... "What about Wireless?" See my articles post about <a style="color:blue" href="/articles/2">wireless cameras here.</a>  <br><br>
                        
                        Lately, the trend for homeowners seems to be to bundle a system purchased on Amazon with installation services through local Amazon approved vendors. 
                        Advertised "estimate" for to install a 4 camera system in Denver is currently $287.10, including;
                        <ul>
                          <li>Camera placement consultation</li>
                          <li>Mounting customer-supplied cameras</li>
                          <li>Running cables from cameras to customer-supplied monitor or recording device</li>
                          <li>Concealing cables in walls, attic or conduit (onsite inspection may result in additional costs)</li>
                          <li>Programming and tutorial for system use</li>
                        </ul>
                        
                        See the Amazon link <a style="color:blue" href= "https://www.amazon.com/gp/product/B00N9L2WIU/?vas=%7B%27area%27%3A%2780203%27%2C%27czc%27%3A1%2C%20%27showOLP%27%3A0%2C%20%27productASIN%27%3A%27%27%7D" target="_blank">here.<br></a>
                        
                        Not a bad deal, and not a whole lot less that what I would charge for the attic install mentioned above. Unfortunately however, this is an arena that I don't care to compete in.
                        I would be happy to discuss your particular situation and recommend a commercial grade system complete with remote smart phone access and text/email intrusion alerts. But just be prepared for 
                        a quote 3 to 4 times or more what a "big box" consumer grade system would cost.<br>
                        My best recommendation if you are considering a "big box" or online purchase is to not install the system immediatly. Hook up a couple of cameras by temporarily running the cables out the door or window then 
                        test the system extensively to see if it's everything you expected. Make sure to download the remote viewing app to your smartphone and test its usabliity too. If all goes smoothly and image quality, the remote viewing app,
                        and overall ease of use is acceptable, schedule the install then. If not, send it back. The system should last for many years so you should be confident that it works the way you want it to.<br><br>
                       
                        <!--<div class="post-media offset-top-34">-->
                        <!--                <header class="post-media">-->
                        <!--                  <div data-photo-swipe="gallery"><a class="thumbnail-classic" href="articles-default-single-left-sidebar.html" target="_self">-->
                        <!--                                      <figure><img width="570" height="321" src="images/articles/post-01-570x321.jpg" alt="">-->
                        <!--                                      </figure></a>-->
                        <!--                  </div>-->
                        <!--                </header>-->
                        <!--              </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div role="tab" id="headingTwo" class="panel-heading">
                        <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo" aria-expanded="true" class="collapsed">Do you install alarm systems?</a></div>
                      </div>
                      <div role="tabpanel" aria-labelledby="headingTwo" id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">No. We have chosen to specialize in camera systems. We have partner companies howerver that we work with and can recommend.
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="cell-md-6 offset-top-66 offset-md-top-0">
                <h3>Other Questions <!--<small class="text-dark">(7)</small>--></h3>
                <p>The answers on most common questions are described below.
                <i>I'm working on cleaning up and migrating the FAQ's from the old site... Stay tuned or <a style="color:blue" href="mailto:paul@denversecuritycamera.com?subject=FAQ">Email</a> me a question you think should be here.</i></p>
                <div class="offset-sm-top-34">
                  <!-- Bootstrap Accordion-->
                  <div role="tablist" aria-multiselectable="true" id="accordion-2" class="panel-group accordion offset-top-0">
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingOne-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" class="collapsed">What does Intense offer for my marketing needs?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingOne-2" id="collapseOne-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">Intense has effective instruments for your marketing campaigns. Its package contains a number of landing and newsletter templates designed with proven marketing tactics in mind.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingTwo-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" aria-expanded="true" class="collapsed">What pages would Intense have in its full package?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingTwo-2" id="collapseTwo-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">Intense gives an access to 250+ ready-made pages for multiple purposes. Among them, there are 10+ homepages, 10+ one-page designs, 20+ header and 10+ footer styles, 20+ extra pages, 10+ event templates, 20+ portfolio layouts, 20+ articles templates, and many others.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingThree-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" aria-expanded="true" class="collapsed">Can I edit flash template in Swish?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingThree-2" id="collapseThree-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">Quis detracto in vel, ad mucius equidem mel, vis cu melius alienum inciderint. Convenire mnesarchum definitionem duo ut, in sea quot magna ceteros, ex his quando corpora splendide. Purto zril nobis ne est, eu assum platonem intellegebat qui. Ex ridens nominati partiendo quo, mei eu tota verear adversarium.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingFour-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" aria-expanded="true" class="collapsed">Is Intense an eCommerce-ready solution?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingFour-2" id="collapseFour-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">Yes, you can use Intense to give a head start to a web store. It is integrated with a shopping cart and includes 10+ eCommerce templates for building different store pages.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingFive-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" aria-expanded="true" class="collapsed">What is Intense Wizard all about?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingFive-2" id="collapseFive-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">This smart tool can generate the most suitable template for each user. Based on his / her interests and needs, this tool identifies the right topic and compiles a set of necessary pages.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingSix-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-2" aria-expanded="true" class="collapsed">Are there any plugins in the package of Intense?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingSix-2" id="collapseSix-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">Intense comes integrated with 20+ premium plugins for different purposes. Whether you want to add an event calendar or mail form to your site, you choose the right plugin from the template’s pack.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                    <!--  <div role="tab" id="headingSeven-2" class="panel-heading">-->
                    <!--    <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapseSeven-2" aria-expanded="true" class="collapsed">What does LTS mean for me?</a></div>-->
                    <!--  </div>-->
                    <!--  <div role="tabpanel" aria-labelledby="headingSeven-2" id="collapseSeven-2" class="panel-collapse collapse">-->
                    <!--    <div class="panel-body">LTS (long-term support) means that your design opportunities will grow for free. Intense will get regular updates in the form of new child themes, pages, and features, which will let you keep pace with all the web innovations.-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footers-->
      <!-- Default footer-->
       <%= render 'layouts/footer' %>
    </div>
   