
    <!-- Page-->
    <div class="page text-center">
      <% unless @uri == "dsc-pchandler.c9users.io" %>
      <div class="page-loader page-loader-variant-1">
        <div><img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='350' height='140' src='assets/dsc/logo-big.png' alt=''/>
          <div class="offset-top-41 text-center">
            <div class="spinner"></div>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- RD Navbar Transparent-->
        <%= render 'layouts/navbar' %>
        
        <!--Swiper-->
        <div class="rd-parallax rd-parallax-swiper">
          <div data-speed="0.3" data-sm-speed="1" data-type="html" class="rd-parallax-layer">
            <div data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px" class="swiper-container swiper-slider">
              <div class="swiper-wrapper text-center">
                <div id="page-loader" data-slide-bg="assets/intros/denver-night.jpg" data-preview-bg="assets/intros/denver-night.jpg" class="swiper-slide">
                  <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
                    <div class="swiper-slide-caption">
                      <div class="shell">
                        <div class="range range-lg-center">
                          <div class="cell-lg-12">
                            <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big ">Welcome to Denver Security Camera</span></h1>
                          </div>
                          <div class="cell-lg-10 offset-top-30">
                            <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">
                              Providing Security Camera System Sales, Installation, Service and Support in the Denver and Colorado front range areas.
                             
                            </h4>
                            <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="#" data-waypoint-to="#section-childs" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-default btn-lg btn-anis-effect"><span class="btn-text">What we offer</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             
              <!--<div data-speed="0.5" class="swiper-button swiper-button-prev swiper-parallax">-->
              <!--  <div class="preview">-->
              <!--    <div class="preview__img preview__img-3"></div>-->
              <!--    <div class="preview__img preview__img-2"></div>-->
              <!--    <div class="preview__img preview__img-1"></div>-->
              <!--  </div>-->
              <!--</div>-->
              <!--<div data-speed="0.5" class="swiper-button swiper-button-next swiper-parallax">-->
              <!--  <div class="preview">-->
              <!--    <div class="preview__img preview__img-1"></div>-->
              <!--    <div class="preview__img preview__img-2"></div>-->
              <!--    <div class="preview__img preview__img-3"></div>-->
              <!--  </div>-->
              <!--</div>-->
              <!--<div class="swiper-pagination"></div>-->
            </div>
          </div>
        </div>
      </header>
      <!-- Page Contents-->
      <main class="page-content">
        <!-- Classic Thumbnail-->
        <!-- Our Works-->
        <section id="section-childs" class="section-98 section-sm-110">
          <div class="shell-wide">
            <!--<h2><span class="big"> Niche Layouts</span></h2>-->
            <!--<div>-->
            <!--  <hr class="divider bg-mantis">-->
            <!--</div>-->
            <div>
              <img style='margin-top: -5px;margin-left: -15px;' width='200'  src='assets/dsc/dsc_whitebg.png' />
            </div>
            <h4 class="text-regular offset-top-20">
              
              Denver Security Camera specializes in high definition surveillance systems in the 1 to 100 camera markets.
<br>
We design, sell and install, and service all surveillance camera platforms whether it be IP, HD-TVI, HD-CVI, HD-SDI and even legacy SD-Analog. <br><br>
Recent dramatic price decreases in equipment means that if you’ve been hesitant to invest in a new surveillance system because of the cost, now would be a good time to take another look.<br>
With the new HD Analog cameras available now, it may be possible to use your existing coax cable and upgrade you to High Definition with just an equipment swap, saving you the expense of re-cabling. <br><br>
We also provide network cabling services not only in support of IP cameras, but for data/voip, wireless access points, and wireless network bridges.
<br><br>
When designing your system, we will carefully consider your requirements when selecting components and recommend the best camera/lens and DVR/VMS for your application, regardless of brand. No cookie cutter systems here..., one size rarely fits all.

<br><br>
Call Today! 303-301-5124
</h4>
</div>

<section class="section-98 section-sm-110">
          <div class="shell">
            <h1>What we do</h1>
            <hr class="divider bg-mantis">
            <!--<p class="inset-left-11p inset-right-11p">We will take care of your web design project regardless of its level of complexity. We are not afraid of difficult tasks – hundreds of our satisfied clients can prove that.</p>-->
            <div class="range offset-top-66">
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-cellphone-link"></span>-->
                        <img src="assets/IPCam.png" width="100" height="75" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">IP Cameras</h4>
                          <p>
                            IP cameras offer the highest resolutions, the most flexible wiring topology, the most choices in recording software, the abiility to record to onboard SD media (and play back), the ability to view and configure the camera remotely over the internet, 
                            have inputs for remote sensors and outputs to turn on/off remote devices such as lights, the abiility to email or ftp snapshots of events, the ability to live-stream, and the list goes on... In fact, since IP cameras 
                            are basically mini embedded computers, it's possible to install a single IP camera without an external DVR that does everything you would need. The primary limitation being days of storage due to the capacity of the SD card installed.
                            
                          </p>
                        </div>
                        
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-chart-line"></span>-->
                        <img src="assets/HDAnalog.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">HD-Analog</h4>
                          <p>
                           HD-TVI, HD-CVI, HD-SDI, are all High Definition analog platforms with at least 1080p resolutions. We prefer TVI over the proprietary CVI and the persnickety SDI platforms, but we can and do 
                            provide service all CCTV system types.
                            TVI will soon offer 5 megapixel resolutions with 4K not too far behind.
                            <br> HD-Analog cameras cost less than IP mostly for the fact that they are "dumb" cameras. All they do is transmit video to the DVR which has to do all the heavy lifting with regards to compressing
                            the stream for storage and analyzing the video for motion detection. 
                            <br>
                            In many cases, we specify a "hybrid" system capable of recording both TVI and IP cameras on the same DVR. This allows you to take advantage of any existing coax cable you may have and the cost savings of TVI.
                            At the same time, IP cameras can be used in situations or locations that warrant them. It's the best of both worlds.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-pen"></span>-->
                        <img src="assets/SDAnalog.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">SD-Analog</h4>
                          <p>
                           
                            There are still a great many Standard Definition Analog systems in service today. 
                            Chances are you made a sizeable investment when you originally purchased your system. We can maintain or even expand your legacy system until your ready to upgrade to HD.
                            
                          </p>
                        </div>
              </div>
              <div class="range-spacer veil reveal-md-inline-block offset-top-41 offset-md-top-66"></div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-timetable"></span>-->
                        <img src="assets/audio.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">Audio Surveillance</h4>
                          <p>
                           Augmenting recorded video with audio can be an amazing benefit. It could be the difference in identifying intruders, resolving conflicts between customers and employees, etc, etc. <br><br>
                            Read More
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-verified"></span>-->
                        <img src="assets/network2.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">Network Services</h4>
                          <p>
                            DSC can make adds, moves, changes, and service your Cat5/6 network infrastructure. We can also install and configure guest WiFi access points or extend your network to remote buildings with a wireless bridge, IP over Coax, or fiber.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-video"></span>-->
                        <img src="assets/music.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">Commercial Sound Systems</h4>
                          <p>
                            Common in restaurants, office buildings, and hotel lobbies, we install zoned sound systems for background music and/or public address.
                            
                          </p>
                        </div>
              </div>
              <div class="range-spacer veil reveal-md-inline-block offset-top-41 offset-md-top-66"></div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4-->
                        <!--<span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-timetable"></span>-->
                        <img src="assets/social.png" width="100" height="66" alt="" class="">
                        <div>
                          <h4 class="text-bold offset-top-20">Marketing/Social Media</h4>
                          <p>
                            Live stream HD video and optional audio to your YouTube channel from your store, restaurant, club, venue or event center. Indoors or out. No monthly fees! <br><i> High speed broadband required with minimum of 3 Mbps upload speed for HD.</i>
                            
                          </p>
                        </div>
              </div>
            </div>
            
          </div>
        </section>





<!--Section Themes catalog-->
<div id="solutions" class="shell-wide offset-top-66">
  <h2><span class="big">Solutions</span></h2>
            <div>
              <hr class="divider bg-mantis">
            </div>
            </div>
        <section id="" class="section-bottom-66 section-sm-bottom-110 section-top-34 section-md-top-66">
          <div class="shell">
            <div class="range">
              <div class="cell-sm-6 cell-md-4"><img src="assets/solutions/commercial.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-10">
                  <div>
                    <h5 class="text-bold text-primary">Commercial Properties</h5>
                  </div>
                 
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Office Buildings</li>
                    <li>Strip Malls</li>
                    <li>Industrial-Warehouse Complexes</li>
                  </ul>
                  <div>
                    <p>Protect your facility, your tennants and their clients.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-0"><img src="assets/solutions/retail.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/responsive-website-template-58730.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Retail
                        </a>
                        <!--</h5>-->
                  </div>
                  
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Sports, Outdoors & Travel</li>-->
                  <!--  <li>Sport Templates</li>-->
                  <!--</ul>-->
                  <div>
                    <p>Loss and fraud protection.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50 offset-md-top-0"><img src="assets/solutions/bar.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/58434.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Bars/Restaurants
                        <!--</a>-->
                        </h5>
                  </div>
                 
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Website Templates </li>-->
                  <!--  <li>Business & Services</li>-->
                  <!--</ul>-->
                  <div>
                    <p>Overserves, employee food theft, customer incidents, slip and fall.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/yard.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/58533.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Contractor/Equipment yards
                        <!--</a>-->
                        </h5>
                  </div>
                  
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Design</li>-->
                  <!--  <li>Architecture</li>-->
                  <!--  <li>Construction Company Templates</li>-->
                  <!--</ul>-->
                  <div>
                   <p>Asset tracking, vehicle/equipment condition, employee and visitor activity. </p>
                   <!--<a href="#" class="btn-sm btn-deluge offset-xl-top-20">learn more</a>-->
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/construction.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/vector-grand-website-template-58530.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Construction Sites
                        <!--</a>-->
                        </h5>
                  </div>
                 
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Website Templates</li>-->
                  <!--  <li>Business & Services</li>-->
                  <!--</ul>-->
                  <div>
                    <p>Loss prevention, safety policy enforcement, jobsite management.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/asset.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/organic-agriculture-farm-multipurpose-website-template-58580.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        High Value Assets
                        <!--</a>-->
                        </h5>
                  </div>
                  
                  <ul class="list-inline list-inline-dashed text-dark">
                    <li>Aircraft Hangars</li>
                    <li>Storage Condos</li>
                  </ul>
                  <div>
                    <p>Perfect for our Single Camera IP package...</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/condo.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="//www.templatemonster.com/website-templates/cargo-multipurpose-transportation-website-template-58899.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Apartment/Condo Complex's
                        <!--</a>-->
                        </h5>
                  </div>
                 
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Business & Services</li>-->
                  <!--  <li>Transportation Templates</li>-->
                  <!--</ul>-->
                  <div>
                     <p>Protect your residents by keeing an eye on parking lots and common areas.</p>
                                           
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/fun.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="http://www.templatemonster.com/website-templates/king-news-multipurpose-website-template-58731.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Amusement Centers
                        <!--</a>-->
                        </h5>
                  </div>
                  
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Business & Services</li>-->
                  <!--  <li>Media Templates</li>-->
                  <!--  <li>News Portal Templates</li>-->
                  <!--</ul>-->
                  <div>
                    <p>General observation, accident/incident investigation, social marketing.  </p>
                    <!--<a href="#" class="btn-sm btn-deluge offset-xl-top-20">learn more</a>-->
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-66 offset-sm-top-50"><img src="assets/solutions/golf.jpg" width="370" height="230" alt="" class="img-responsive reveal-inline-block">
                <div class="text-sm-left offset-top-24">
                  <div>
                    <h5 class="text-bold text-primary">
                      <!--<a href="http://www.templatemonster.com/website-templates/king-news-multipurpose-website-template-58731.html?utm_source=livedemo&amp;utm_medium=themecategorylink&amp;utm_campaign=intense">-->
                        Golf Courses
                        <!--</a>-->
                        </h5>
                  </div>
                  
                  <!--<ul class="list-inline list-inline-dashed text-dark">-->
                  <!--  <li>Business & Services</li>-->
                  <!--  <li>Media Templates</li>-->
                  <!--  <li>News Portal Templates</li>-->
                  <!--</ul>-->
                  <div>
                    <p>Cover your entire course or only what you need with a few well placed solar powered fixed or PTZ cameras. </p>
                    <!--<a href="#" class="btn-sm btn-deluge offset-xl-top-20">learn more</a>-->
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>








         
        <div class="shell-fluid">
          <hr class="hr bg-gray-lighter">
        </div>
        
        
        
        
        
        
        <!-- Our Partners-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>Our Partners</h1>
            <hr class="divider bg-mantis">
            <div class="range range-xs-center range-lg-middle offset-top-66">
              <div class="cell-sm-10 cell-md-9 cell-lg-12">
                <div class="range">
                  <div class="cell-sm-5 cell-lg-3"><a href="http://www.hikvision.com/us/" target="_blank"><img src="assets/partners/hikvision.png" width="240" height="64" alt="" class="img-semi-transparent"></a></div>
                  
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-sm-top-0"><a href="http://www.axis.com/" target="_blank"><img src="assets/partners/Axis.png" width="200" height="130" alt="" class="img-semi-transparent"></a></div>
                  
                  <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-sm-top-0"><a href="http://www.dahuasecurity.com/" target="_blank"><img src="assets/partners/dahua-200.png" width="200" height="74" alt="" class="img-semi-transparent"></a></div>
                  
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://www.milestonesys.com/" target="_blank"><img src="assets/partners/milestone.png" width="200" height="127" alt="" class="img-semi-transparent"></a></div>
                  <div class="range-spacer veil reveal-sm-inline-block offset-top-41 offset-lg-top-66 veil-sm reveal-lg-inline-block"></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://exacq.com" target="_blank"><img src="assets/partners/exacq.png" width="200" height="56" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://digital-watchdog.com" target="_blank"><img src="assets/partners/spectrum.png" width="250" height="69" alt="" class="img-semi-transparent"></a></div>
                 
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://acti.com/" target="_blank"><img src="assets/partners/acti.png" width="220" height="71" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://vivotek.com/" target="_blank"><img src="assets/partners/vivotek.png" width="220" height="65" alt="" class="img-semi-transparent"></a></div>
                   <div class="range-spacer veil reveal-sm-inline-block offset-top-41 offset-lg-top-66 veil-sm reveal-lg-inline-block"></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://ubnt.com/" target="_blank"><img src="assets/partners/ubiquiti.png" width="220" height="74" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://netgear.com/business" target="_blank"><img src="assets/partners/netgear.png" width="200" height="76" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="http://www.louroe.com" target="_blank"><img src="assets/partners/louroe.png" width="200" height="80" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://us.boschsecurity.com/" target="_blank"><img src="assets/partners/bosch.png" width="210" height="69" alt="" class="img-semi-transparent"></a></div>
                   <div class="range-spacer veil reveal-sm-inline-block offset-top-41 offset-lg-top-66 veil-sm reveal-lg-inline-block"></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://www.ltssecurityinc.com/" target="_blank"><img src="assets/partners/lts.png" width="210" height="80" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://www.optexamerica.com/" target="_blank"><img src="assets/partners/optex.png" width="250" height="65" alt="" class="img-semi-transparent"></a></div>
                  <div class="cell-sm-5 cell-lg-3 offset-top-41 offset-lg-top-0"><a href="https://www.arecontvision.com/" target="_blank"><img src="assets/partners/arecont.png" width="250" height="65" alt="" class="img-semi-transparent"></a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- Button Ansi-->
        <!-- Buy Now-->
        
       
      </main>
      <!-- Home Intro footer-->
      <!-- Default footer-->
      <%= render 'layouts/footer' %>
    </div>
    <!-- Global Mailform Output-->
<!--    <div id="form-output-global" class="snackbars"></div>-->
    <!-- PhotoSwipe Gallery-->
<!--    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">-->
<!--      <div class="pswp__bg"></div>-->
<!--      <div class="pswp__scroll-wrap">-->
<!--        <div class="pswp__container">-->
<!--          <div class="pswp__item"></div>-->
<!--          <div class="pswp__item"></div>-->
<!--          <div class="pswp__item"></div>-->
<!--        </div>-->
<!--        <div class="pswp__ui pswp__ui--hidden">-->
<!--          <div class="pswp__top-bar">-->
<!--            <div class="pswp__counter"></div>-->
<!--            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>-->
<!--            <button title="Share" class="pswp__button pswp__button--share"></button>-->
<!--            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>-->
<!--            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>-->
<!--            <div class="pswp__preloader">-->
<!--              <div class="pswp__preloader__icn">-->
<!--                <div class="pswp__preloader__cut">-->
<!--                  <div class="pswp__preloader__donut"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">-->
<!--            <div class="pswp__share-tooltip"></div>-->
<!--          </div>-->
<!--          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>-->
<!--          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>-->
<!--          <div class="pswp__caption">-->
<!--            <div class="pswp__caption__center"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- Java script-->
<!--    <script src="assets/core.min.js"></script>-->
<!--    <script src="assets/script.js"></script>-->
    
<!--  </body>-->
<!--</html>-->