
   <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>

       
      <main class="page-content section-98 section-sm-124">
        <h1>Search Page</h1>
        <div class="shell">
          <!-- RD Search Form-->
          <form action="search-results.html" method="GET" class="form-search rd-search">
            <div class="form-group">
              <label for="search-results" class="form-label form-search-label form-label-sm">Search</label>
              <input id="search-results" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm"/>
            </div>
            <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
          </form>
          <div class="rd-search-results offset-top-66">
            <!-- Page Footers-->
          </div>
        </div>
         <%= render 'layouts/footer' %>
      </main>
     