 <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
      <div class="page text-center">
      <!-- Page Content-->
      <main class="page-content">
        <!-- What we do-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>What we do</h1>
            <hr class="divider bg-mantis">
            <p class="inset-left-11p inset-right-11p">We will take care of your web design project regardless of its level of complexity. We are not afraid of difficult tasks – hundreds of our satisfied clients can prove that.</p>
            <div class="range offset-top-66">
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-cellphone-link"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">Fully Responsive Design</h4>
                          <p>
                            Intense looks perfect on any modern device, be it a laptop, a smartphone, or a tablet.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-chart-line"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">Social Integration</h4>
                          <p>
                            Intense is integrated with such popular social networks as Facebook, Twitter, Instagram and Flickr.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-pen"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">150+ Predesigned Pages</h4>
                          <p>
                            Intense is a paradise for developers. Its initial release version comes shipped with 150+ responsive pages for any taste.
                            
                          </p>
                        </div>
              </div>
              <div class="range-spacer veil reveal-md-inline-block offset-top-41 offset-md-top-66"></div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-timetable"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">Regular Content Updates</h4>
                          <p>
                            New child themes, skins and predesigned pages are being released 2-3 times per month. Intense owners get them for free.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-verified"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">Lots of Child Themes</h4>
                          <p>
                            A variety of niche-specific designs, which expand the possibilities of this template.
                            
                          </p>
                        </div>
              </div>
              <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                        <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-video"></span>
                        <div>
                          <h4 class="text-bold offset-top-20">200+ PSD Files</h4>
                          <p>
                            An impressive UI kit comprising 200+ layered PSD source files will be a useful addition to every designer’s toolbox.
                            
                          </p>
                        </div>
              </div>
            </div>
            <hr class="bg-lightest offset-top-66">
            <div class="range range-xs-middle text-md-left">
              <div class="cell-md-6"><img src="images/moqups/moqup-home-both.jpg" width="570" height="368" alt="" class="img-responsive center-block"></div>
              <div class="cell-md-6">
                <h1>Why choose us?</h1>
                <hr class="divider bg-mantis hr-md-left-0">
                <p>We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us.</p>
                <p>Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.</p><a href="about-us.html" class="btn btn-primary offset-top-14">Read More</a>
              </div>
            </div>
          </div>
        </section>
        <section class="shadow-drop-ambient">
                  <!-- RD Parallax-->
                  <div data-on="false" data-md-on="true" class="rd-parallax">
                    <div data-speed="0.35" data-type="media" data-url="images/articles-single-post-classic-03.jpg" class="rd-parallax-layer"></div>
                    <div data-speed="0" data-type="html" class="rd-parallax-layer">
                      <div class="bg-overlay-white">
                        <div class="shell section-66">
                          <div class="range">
                            <div class="cell-lg-4 text-lg-left">
                              <h3>Our Clients</h3>
                            </div>
                          </div>
                          <div class="range range-xs-middle range-xs-center offset-top-20">
                            <div class="cell-lg-4 text-lg-left">
                              <p>Among our clients there are many world-renowned industry leaders. Their websites are modern looking and reliable – thanks to us.</p>
                              <!-- Custom Pagination-->
                              <div class="owl-custom-navigation owl-customer-navigation offset-top-14">
                                <div class="owl-nav">
                                  <div data-owl-prev class="owl-prev mdi mdi-chevron-left"></div>
                                  <div data-owl-next class="owl-next mdi mdi-chevron-right"></div>
                                </div>
                              </div>
                            </div>
                            <div class="cell-lg-8 offset-top-41 offset-lg-top-0">
                                      <!-- Customer Slider-->
                                      <div data-mouse-drag="false" data-items="1" data-xs-items="2" data-sm-items="3" data-md-items="4" data-nav-custom=".owl-custom-navigation" data-dots="false" data-nav="false" class="owl-carousel owl-carousel-testimonials-2"><a href="clients.html"><img src="images/clients/client-01-169x68.png" width="169" height="68" alt="" class="img-semi-transparent"></a><a href="clients.html"><img src="images/clients/client-02-126x68.png" width="126" height="68" alt="" class="img-semi-transparent"></a><a href="clients.html"><img src="images/clients/client-03-126x100.png" width="126" height="100" alt="" class="img-semi-transparent"></a><a href="clients.html"><img src="images/clients/client-04-95x101.png" width="95" height="101" alt="" class="img-semi-transparent"></a><a href="clients.html"><img src="images/clients/client-05-149x102.png" width="149" height="102" alt="" class="img-semi-transparent"></a><a href="clients.html"><img src="images/clients/client-06-141x88.png" width="141" height="88" alt="" class="img-semi-transparent"></a>
                                      </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
        <!-- Choose Your Plan-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>Choose Your Plan</h1>
            <div class="divider bg-mantis"></div>
            <div class="range range-xs-bottom offset-top-41 range-sm-center">
              <div class="cell-md-3">
                        <!-- Planning Box type 4-->
                        <div class="box-planning box-planning-type-4">
                          <div class="box-planning-header context-dark bg-mantis">
                            <div class="box-planning-label">
                              <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Free</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                            </p>
                          </div>
                          <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                              <li><span class="text-bold">1GB</span><span class="text-dark">Space amount</span></li>
                              <li><span class="text-bold">5</span><span class="text-dark">users</span></li>
                              <li><span class="text-bold">5GB</span><span class="text-dark">Bandwidth</span></li>
                              <li><span class="text-dark">No Support</span></li>
                              <li><span class="text-bold">1</span><span class="text-dark">Databases</span></li>
                            </ul><a href="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
                          </div>
                        </div>
              </div>
              <div class="cell-md-3">
                        <!-- Planning Box type 4-->
                        <div class="box-planning box-planning-type-4">
                          <div class="box-planning-header context-dark bg-malibu">
                            <div class="box-planning-label">
                              <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Starter</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                            </p>
                          </div>
                          <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                              <li><span class="text-bold">5GB</span><span class="text-dark">Space amount</span></li>
                              <li><span class="text-bold">20</span><span class="text-dark">users</span></li>
                              <li><span class="text-bold">10GB</span><span class="text-dark">Bandwidth</span></li>
                              <li><span class="text-dark">No Support</span></li>
                              <li><span class="text-bold">1</span><span class="text-dark">Databases</span></li>
                            </ul><a href="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
                          </div>
                        </div>
              </div>
              <div class="cell-md-3">
                        <!-- Planning Box type 4-->
                        <div class="box-planning box-planning-type-4 active">
                          <div class="box-planning-header context-dark bg-saffron">
                            <div class="box-planning-label">
                              <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Business</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                            </p>
                          </div>
                          <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                              <li><span class="text-bold">10GB</span><span class="text-dark">Space amount</span></li>
                              <li><span class="text-bold">Unlimited</span><span class="text-dark">users</span></li>
                              <li><span class="text-bold">30GB</span><span class="text-dark">Bandwidth</span></li>
                              <li><span class="text-dark">Free Support</span></li>
                              <li><span class="text-bold">20</span><span class="text-dark">Databases</span></li>
                            </ul><a href="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
                          </div>
                        </div>
              </div>
              <div class="cell-md-3">
                        <!-- Planning Box type 4-->
                        <div class="box-planning box-planning-type-4">
                          <div class="box-planning-header context-dark bg-red">
                            <div class="box-planning-label">
                              <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Ultimate</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                            </p>
                          </div>
                          <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                              <li><span class="text-bold">100GB</span><span class="text-dark">Space amount</span></li>
                              <li><span class="text-bold">Unlimited</span><span class="text-dark">users</span></li>
                              <li><span class="text-bold">60GB</span><span class="text-dark">Bandwidth</span></li>
                              <li><span class="text-dark">Free support</span></li>
                              <li><span class="text-bold">Unlimited</span><span class="text-dark">Databases</span></li>
                            </ul><a href="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
                          </div>
                        </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Buy Now-->
        <section>
                  <!-- Call to action type 2-->
                  <section class="section-66 bg-blue-gray context-dark">
                    <div class="shell">
                      <div class="range range-xs-middle range-condensed">
                        <div class="cell-md-8 cell-lg-9 text-center text-md-left">
                          <h2><span class="big">Intense - exactly what you need</span></h2>
                        </div>
                        <div class="cell-md-4 cell-lg-3 offset-top-41 offset-md-top-0"><a href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense" class="btn btn-icon btn-lg btn-default btn-anis-effect btn-icon-left"><span class="icon mdi mdi-cart-outline"></span>Buy intense now</a>
                        </div>
                      </div>
                    </div>
                  </section>
        </section>
      </main>
      <!-- Page Footers-->
      <%= render 'layouts/footer' %>
    </div>