<div class="range offset-top-41">
                  <div class="cell-xs-6 cell-md-12">
                    <!-- Category-->
                    <h6 class="text-uppercase text-spacing-60">Categories</h6>
                    <div class="text-subline"></div>
                    <p>
  
</p>
                    <ul class="list list-marked offset-top-30">
                      <% @tags.each do |c| %>
                        <li><%= link_to c.name.titlecase, article_path(c) %> (<%= c.articles.count %>)</li>
                      <% end %>
                     
                      <li><a href="#">Web Design <span class="text-dark">(37)</span></a></li>
                      <li><a href="#">UX <span class="text-dark">(211)</span></a></li>
                      <li><a href="#">Marketing <span class="text-dark">(12)</span></a></li>
                      <li><a href="#">Events <span class="text-dark">(7)</span></a></li>
                      <li><a href="#">News <span class="text-dark">(15)</span></a></li>
                    </ul>
                  </div>
                  <div class="cell-xs-6 cell-md-12 offset-top-41 offset-xs-top-0 offset-md-top-41">
                    <!-- Archive-->
                    <h6 class="text-uppercase text-spacing-60">Archive</h6>
                    <div class="text-subline"></div>
                    <ul class="list list-marked offset-top-30">
                      <li><a href="#">January 2016 <span class="text-dark">(17)</span></a></li>
                      <li><a href="#">December 2015 <span class="text-dark">(121)</span></a></li>
                      <li><a href="#">November 2015 <span class="text-dark">(19)</span></a></li>
                      <li><a href="#">October 2015 <span class="text-dark">(9)</span></a></li>
                      <li><a href="#">September 2015 <span class="text-dark">(25)</span></a></li>
                    </ul>
                  </div>
                </div>