<h6 class="text-uppercase text-spacing-60">Categories</h6>
                    <div class="text-subline"></div>

<ul class="list list-marked offset-top-30">
  <% @tags.each do |c| %>
    <li><%= link_to c.name.titlecase, category_articles_path(:tag => c.name) %> (<%= c.articles.count %>)</li>
    
  
    
    
  <% end %>
</ul>

