<div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
      <div class="page text-center">

<ul id="articles">
  <% @tags.each do |c| %>
    
      <li><%= link_to c.name, article_path(c) %> (<%= c.articles.count %> articles)</li>
      
    
  <% end %>
  
</ul>

</div>