 <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      
      <header class="page-head slider-menu-position">
          <%= render 'layouts/navbar' %>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-top-98 section-sm-top-110">
          
          <section>
            <div class="shell-fluid">


<h2>Articles Tagged with <%= @tag.name.titlecase %></h2>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

</div>
</section></section></div>