<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
        <div class="shell">
          <div class="range range-sm-center text-lg-left">
            <div class="cell-sm-8 cell-md-12">
              <div class="range range-xs-center">
                <div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-3 cell-lg-push-4">
                  <h6 class="text-uppercase text-spacing-60">Latest articles</h6>
                   <%= render partial: 'articles/latest' %>
                        
                </div>
                <div class="cell-xs-5 offset-top-41 offset-xs-top-0 text-xs-left cell-md-3 cell-lg-2 cell-lg-push-3">
                  <!--<h6 class="text-uppercase text-spacing-60">Useful Links</h6>-->
                  <!--<div class="reveal-block">-->
                  <!--  <div class="reveal-inline-block">-->
                  <!--    <ul class="list list-marked">-->
                  <!--      <li><a href="about-us.html">About Us</a></li>-->
                  <!--      <li><a href="contact-us.html">Contact Us</a></li>-->
                  <!--      <li><a href="services.html">Services</a></li>-->
                  <!--      <li><%= link_to "services", services_path %></li>-->
                  <!--      <li><a href="clients.html">Clients</a></li>-->
                  <!--    </ul>-->
                  <!--  </div>-->
                  <!--</div>-->
                </div>
                <div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
                  <h6 class="text-uppercase text-spacing-60">Newsletter</h6>
                  <p>Keep up with our always upcoming  product features  and technologies. Enter your e-mail and subscribe to  our newsletter.</p>
                  <div class="offset-top-30">
                          <form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
                            <div class="form-group">
                              <div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                <input placeholder="Coming Soon" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
                                  <button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
                              </div>
                            </div>
                            <div id="form-subscribe-footer" class="form-output"></div>
                          </form>
                  </div>
                </div>
                <div class="cell-xs-12 offset-top-66 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
                  <!-- Footer brand-->
                  <div class="footer-brand"><%= link_to image_tag("dsc/logo-light-dsc.png", :alt => "", :style => 'margin-top: -5px;margin-left: -15px; width=138 height=41'), root_path %></div>
                  <p class=" offset-top-4">Denver Security Camera</p>
                  <p class=" offset-top-4"><i>See what you've been missing</i></p>
                  <p class=" offset-top-4">Call Today! 303-301-5124</p>
                        <!--<ul class="list-inline">-->
                        <!--  <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                        <!--  <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                        <!--  <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                        <!--  <li><a href="#" class="icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled"></a></li>-->
                        <!--</ul>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shell offset-top-50">
          <p class="small text-darker">Denver Security Camera &copy; <span id="copyright-year"></span>
          <!--. <a href="privacy.html">Privacy Policy</a>-->
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </footer>