


<!--<header class="page-head slider-menu-position">-->
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='/assets/logo-lightNC2.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='/assets/logo-lightNC2.png' alt=''/></a></div>
                    <!--<div class="form-search-wrap">-->
                      <!-- RD Search Form-->
                    <!--  <form action="search-results.html" method="GET" class="form-search rd-search">-->
                        <!--<div class="form-group">-->
                        <!--  <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>-->
                        <!--  <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>-->
                        <!--</div>-->
                    <!--    <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>-->
                    <!--  </form>-->
                    <!--</div>-->
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="active"><%= link_to 'Home', root_path %></a>
                        
                      </li>
                      
                      <!--<li><a href="#"><span>Pages</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span></a>-->
                        
                      </li>
                      <li><a href="shop-grid-left-sidebar.html"><span>Public Cameras</span></a>
                        
                      </li>
                       <li><a href="shop-grid-left-sidebar.html"><span>FAQ</span></a>
                        
                      </li>
                      <% if account_signed_in? %>
            <li>
                <%= link_to account_path(current_account), class: "#{cp(account_path(current_account))}" do %>
                My Cameras<!--<%#= current_account.name  %> cams  -->
                <% end %>
            </li>     
            <% end %>
                      <!--<li><a href="portfolio-grid-3-columns.html"><span>Portfolio</span></a>-->
                        
                      <!--</li>-->
                      <!--<li><a href="articles-default-left-sidebar.html"><span>articles</span></a>-->
                        
                      <!--</li>-->
                      
                      <li><a href="shop-grid-left-sidebar.html"><span>Shop</span></a>
                        
                      </li>
                      
                      
                      
                      <% if account_signed_in? %>
            <li><%= link_to 'Settings', settings_path %></li>
            <li><%= link_to 'Log out', destroy_account_session_path, method: :delete %></li>
            
                <!--dropdown, i decided not to use it-->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<%= link_to settings_path, class: "#{cp(settings_path)}" do %>-->
            <!--<%= image_tag 'menu48.png' %>-->
            <!--<% end %>-->

            <!--    <ul class="dropdown-menu" role="menu">-->
            <!--    <li><%= link_to 'Settings', edit_account_registration_path %></li>-->
            <!--    <li><%= link_to 'Support', edit_account_registration_path %></li>-->
            <!--    <li><%= link_to 'Log out', destroy_account_session_path, method: :delete %></li>-->
            <!--    </ul>-->
            <!--</li>-->
            <% else %>
            <!--<li><%= link_to'Log In', new_account_session_path, class: "#{cp(new_account_session_path)}" %></li>-->
            
            
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 0px; ">
              <%= render 'devise/sessions/new' %>
            </div>
          </li>
            
            
            <!--<li>-->
              <%#= link_to'Sign Up', new_account_registration_path, class: "#{cp(new_account_registration_path)}" %>
            <!--  </li>-->
            <!--<li><%#= link_to 'Sign Up', new_account_registration_path %></li>-->
            <% end %>
                      
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                  <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
                    <div class="form-group">
                      <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>
                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                    </div>
                    <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
                  </form>
                  <!--div.rd-navbar-live-search-results-->
                  <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
                  <!--  span-->
                </div>
                <!--RD Navbar shop-->
                <div class="rd-navbar-cart-wrap"><a href="#" data-rd-navbar-toggle=".rd-navbar-cart-dropdown" class="rd-navbar-cart mdi"><span></span></a>
                  <div class="rd-navbar-cart-dropdown">
                    <ul class="rd-navbar-list-products">
                      <li>
                        <div class="rd-navbar-product-image"><img src="assets/shop/product-01-60x60.png" alt=""/></div>
                        <div class="rd-navbar-product-caption">
                          <h6 class="rd-navbar-product-title"><a href="shop-single-product-left-sidebar.html">Fashion model new</a></h6>
                          <p class="rd-navbar-product-price">$129.99</p>
                        </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                      </li>
                      <li>
                        <div class="rd-navbar-product-image"><img src="assets/shop/product-01-60x60-3.png" alt=""/></div>
                        <div class="rd-navbar-product-caption">
                          <h6 class="rd-navbar-product-title"><a href="shop-single-product-left-sidebar.html">Fashion model new 2</a></h6>
                          <p class="rd-navbar-product-price">$69.99</p>
                        </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>
                      </li>
                    </ul>
                    <div class="rd-navbar-cart-total">
                      <h6 class="rd-navbar-cart-total-title">Cart subtotal</h6><span class="rd-navbar-cart-total-price">$199.98</span>
                    </div>
                    <div class="text-center"><a href="shop-cart.html" class="btn btn-rect btn-sm btn-primary btn-icon btn-icon-left"><span class="icon mdi mdi-lock"></span>Go to checkout</a></div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!--Swiper-->
      <!--  <div class="rd-parallax rd-parallax-swiper">-->
      <!--    <div data-speed="0.3" data-sm-speed="1" data-type="html" class="rd-parallax-layer">-->
      <!--      <div data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px" class="swiper-container swiper-slider">-->
      <!--        <div class="swiper-wrapper text-center">-->
      <!--          <div id="page-loader" data-slide-bg="assets/intros/intro-04-1920x955.jpg" data-preview-bg="assets/intros/intro-04-1920x955.jpg" class="swiper-slide">-->
      <!--            <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">-->
      <!--              <div class="swiper-slide-caption">-->
      <!--                <div class="shell">-->
      <!--                  <div class="range range-lg-center">-->
      <!--                    <div class="cell-lg-12">-->
      <!--                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Welcome to Intense</span></h1>-->
      <!--                    </div>-->
      <!--                    <div class="cell-lg-10 offset-top-30">-->
      <!--                      <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">-->
      <!--                        The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.-->
      <!--                        Create exactly what you need with our powerful bootstrap toolkit.-->
      <!--                      </h4>-->
      <!--                      <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-primary btn-lg btn-anis-effect"><span class="btn-text">Buy intense now</span></a><a href="#" data-custom-scroll-to="home-section-welcome" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-default btn-lg btn-anis-effect"><span class="btn-text">Start a journey</span></a></div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div data-preview-bg="assets/intro-video/intro-video-lg.jpg" class="swiper-slide">-->
                          <!-- RD Video-->
      <!--                    <div data-rd-video-path="assets/intro-video/intro-video" data-rd-video-image-xs="16" data-rd-video-image-sm="16" data-rd-video-image-md="22" data-rd-video-image-lg="41" data-rd-video-image-xlg="41" data-rd-video-autoplay="false" data-rd-video-preload="metadata" class="rd-video">-->
      <!--                      <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">-->
      <!--                        <div class="swiper-slide-caption">-->
      <!--                          <div class="shell">-->
      <!--                            <div class="range range-lg-center">-->
      <!--                              <div class="cell-lg-12">-->
      <!--                                <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Built as a framework</span></h1>-->
      <!--                              </div>-->
      <!--                              <div class="cell-lg-10 offset-top-30">-->
      <!--                                <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">-->
      <!--                                  Intense was designed as extended version of bootstrap, built as a complex-->
      <!--                                  and flexible solution with a dozen of completely new-->
      <!--                                  utilities, components and plugins.-->
      <!--                                </h4>-->
      <!--                                <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="ui-kit.html" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-default btn-lg btn-anis-effect"><span class="btn-text">See it in action</span></a></div>-->
      <!--                              </div>-->
      <!--                            </div>-->
      <!--                          </div>-->
      <!--                        </div>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--          </div>-->
      <!--          <div data-slide-bg="assets/intros/intro-05-1920x955.jpg" data-preview-bg="assets/intros/intro-05-1920x955.jpg" class="swiper-slide">-->
      <!--            <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">-->
      <!--              <div class="swiper-slide-caption">-->
      <!--                <div class="shell">-->
      <!--                  <div class="range range-lg-center">-->
      <!--                    <div class="cell-lg-12">-->
      <!--                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Unlimited opportunities</span></h1>-->
      <!--                    </div>-->
      <!--                    <div class="cell-lg-10 offset-top-30">-->
      <!--                      <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">-->
      <!--                        Intense is the easiest way for you to build different sites-->
      <!--                        without using many  themes.-->
      <!--                      </h4>-->
      <!--                      <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="#" data-custom-scroll-to="home-section-childs" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-default btn-lg btn-anis-effect"><span class="btn-text">Discover child themes</span></a></div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div data-slide-bg="assets/intros/intro-06-1920x955.jpg" data-preview-bg="assets/intros/intro-06-1920x955.jpg" class="swiper-slide">-->
      <!--            <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">-->
      <!--              <div class="swiper-slide-caption">-->
      <!--                <div class="shell">-->
      <!--                  <div class="range range-lg-center">-->
      <!--                    <div class="cell-lg-12">-->
      <!--                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">ULTRA sharp & RESPONSIVE</span></h1>-->
      <!--                    </div>-->
      <!--                    <div class="cell-lg-10 offset-top-30">-->
      <!--                      <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light offset-bottom-0">-->
      <!--                        Beautiful and clean designs are optimized for all screen sizes-->
      <!--                        and types. Taste a new meaning of Retina Ready.-->
      <!--                      </h4>-->
      <!--                      <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-primary btn-lg btn-anis-effect"><span class="icon mdi mdi-cart-outline"></span><span class="btn-text">Buy intense now</span></a></div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div data-speed="0.5" class="swiper-button swiper-button-prev swiper-parallax">-->
      <!--          <div class="preview">-->
      <!--            <div class="preview__img preview__img-3"></div>-->
      <!--            <div class="preview__img preview__img-2"></div>-->
      <!--            <div class="preview__img preview__img-1"></div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div data-speed="0.5" class="swiper-button swiper-button-next swiper-parallax">-->
      <!--          <div class="preview">-->
      <!--            <div class="preview__img preview__img-1"></div>-->
      <!--            <div class="preview__img preview__img-2"></div>-->
      <!--            <div class="preview__img preview__img-3"></div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="swiper-pagination"></div>-->
      <!--      </div>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</header>-->












<!--<div class="rd-navbar-wrap style="height:50px;>-->
<!--          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">-->
<!--            <div class="rd-navbar-inner">-->
              <!-- RD Navbar Panel-->
<!--              <div class="rd-navbar-panel">-->
                <!-- RD Navbar Toggle-->
<!--                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>-->
                <!--Navbar Brand-->
<!--                <div class="rd-navbar-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='/assets/intense/logo-light.png' alt=''/></a></div>-->
<!--              </div>-->
<!--              <div class="rd-navbar-menu-wrap">-->
<!--                <div class="rd-navbar-nav-wrap">-->
<!--                  <div class="rd-navbar-mobile-scroll">-->
                    <!--Navbar Brand Mobile-->
<!--                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='/assets/intense/logo-light.png' alt=''/></a></div>-->
<!--                    <div class="form-search-wrap">-->
                      <!-- RD Search Form-->
<!--                      <form action="search-results.html" method="GET" class="form-search rd-search">-->
<!--                        <div class="form-group">-->
<!--                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>-->
<!--                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>-->
<!--                        </div>-->
<!--                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>-->
<!--                      </form>-->
<!--                    </div>-->
                    <!-- RD Navbar Nav-->
<!--                    <ul class="rd-navbar-nav">-->
<!--                      <li class="active"><a href="index.html"><span>Home</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span></a>-->
                        
<!--                      </li>-->
<!--                      <li><a href="#"><span>Features</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span></a>-->
                        
<!--                      </li>-->
<!--                      <li><a href="#"><span>Pages</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span></a>-->
                        
<!--                      </li>-->
<!--                      <li><a href="portfolio-grid-3-columns.html"><span>Portfolio</span></a>-->
                        
<!--                      </li>-->
<!--                      <li><a href="articles-default-left-sidebar.html"><span>articles</span></a>-->
                        
<!--                      </li>-->
<!--                      <li><a href="shop-grid-left-sidebar.html"><span>Shop</span></a>-->
                        
<!--                      </li>-->
                      
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
                <!--RD Navbar Search-->
<!--                <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>-->
<!--                  <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">-->
<!--                    <div class="form-group">-->
<!--                      <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>-->
<!--                      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>-->
<!--                    </div>-->
                    <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
<!--                  </form>-->
                  <!--div.rd-navbar-live-search-results-->
                  <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
                  <!--  span-->
<!--                </div>-->
                <!--RD Navbar shop-->
<!--                <div class="rd-navbar-cart-wrap"><a href="#" data-rd-navbar-toggle=".rd-navbar-cart-dropdown" class="rd-navbar-cart mdi"><span></span></a>-->
<!--                  <div class="rd-navbar-cart-dropdown">-->
<!--                    <ul class="rd-navbar-list-products">-->
<!--                      <li>-->
<!--                        <div class="rd-navbar-product-image"><img src="assets/shop/product-01-60x60.png" alt=""/></div>-->
<!--                        <div class="rd-navbar-product-caption">-->
<!--                          <h6 class="rd-navbar-product-title"><a href="shop-single-product-left-sidebar.html">Fashion model new</a></h6>-->
<!--                          <p class="rd-navbar-product-price">$129.99</p>-->
<!--                        </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <div class="rd-navbar-product-image"><img src="assets/shop/product-01-60x60-3.png" alt=""/></div>-->
<!--                        <div class="rd-navbar-product-caption">-->
<!--                          <h6 class="rd-navbar-product-title"><a href="shop-single-product-left-sidebar.html">Fashion model new 2</a></h6>-->
<!--                          <p class="rd-navbar-product-price">$69.99</p>-->
<!--                        </div><a href="#" class="mdi mdi-window-close rd-navbar-product-remove"></a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                    <div class="rd-navbar-cart-total">-->
<!--                      <h6 class="rd-navbar-cart-total-title">Cart subtotal</h6><span class="rd-navbar-cart-total-price">$199.98</span>-->
<!--                    </div>-->
<!--                    <div class="text-center"><a href="shop-cart.html" class="btn btn-rect btn-sm btn-primary btn-icon btn-icon-left"><span class="icon mdi mdi-lock"></span>Go to checkout</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </nav>-->
<!--        </div>-->
        
 