
<div class="rd-navbar-wrap">
          <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="logo"><%= link_to image_tag("dsc/logo-light-dsc.png", :alt => "", :style => 'margin-top: -5px;margin-left: -15px; width=138 height=41'), root_path %>
                <!--<span class="p text-bold text-lighter" style="padding-left:40px; white-space:nowrap; font-size:150%">303-301-5124</span></div>-->
                </div>
                 <div class ="company">Denver Security Camera</div>
                <div class ="phone">303-301-5124</div>
               
             
              <div class="rd-navbar-menu-wrap">
                
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><%= link_to image_tag("dsc/logo-light-dsc.png", :alt => "", :style => 'margin-top: -5px;margin-left: -15px; width=138 height=41'), root_path %></div>
                    <!--<div class="form-search-wrap">-->
                      <!-- RD Search Form-->
                    <!--  <form action="search-results" method="GET" class="form-search rd-search">-->
                    <!--    <div class="form-group">-->
                    <!--      <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>-->
                    <!--      <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>-->
                    <!--    </div>-->
                    <!--    <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>-->
                    <!--  </form>-->
                    <!--</div>-->
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "home", root_path %></li>
                      
                      <% if current_page?(root_path) %>
                        <li><%= link_to "Solutions", "#solutions" %></li>
                        <% else %>
                        <li><%= link_to "Solutions", root_url(:anchor => "solutions") %></li>
                      <% end %>
      
      
                      
                      <li class="<%= "active" if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
                      <li class="<%= "active" if current_page?(faq_path) %>"><%= link_to "faq", faq_path %></li>
                      
                       <li class="<%= "active" if controller.controller_name == 'articles' %>"><%= link_to '/articles' do %><span>articles</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span>
                      <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <!--<div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>-->
                <!--  <form action="search-results" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">-->
                <!--    <div class="form-group">-->
                <!--      <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>-->
                <!--      <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>-->
                <!--    </div>-->
                    <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
                <!--  </form>-->
                  <!--div.rd-navbar-live-search-results-->
                  <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
                  <!--  span-->
                <!--</div>-->
                
                
              </div>
            </div>
          </nav>
        </div>