
<div style="width:100%; min-width:400px; height:60px">
    <nav>
     <!--http://stackoverflow.com/questions/1751863/changing-current-tab-in-rails-->
     <!--http://stackoverflow.com/questions/829727/highlight-tab-in-menu-->
     <!--http://stackoverflow.com/questions/8552763/best-way-to-highlight-current-page-in-rails-3-apply-a-css-class-to-links-con-->
     <!--http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu-->
        <ul>
             <!--<li><a class="active" href="#home">Home</a></li>-->
            <li><%= link_to home_path, class: "#{cp(home_path)}" do %>
                <%= image_tag 'home78.png' %>
            <% end %>
            </li>
            <% if account_signed_in? %>
            <li>
                <%= link_to account_path(current_account), class: "#{cp(account_path(current_account))}" do %>
                <%= current_account.name  %> cams  <span class="arrow">&#9660;</span>
                <% end %>
            </li>     
            <% end %>
            <li><a href="#news">Camera Store</a></li>
            <li><a href="#news">FAQ's</a></li>
            <li><%= link_to "About", about_path, class: "#{cp(about_path)}" %></li>

            <% if account_signed_in? %>
            <li><%= link_to 'Settings', edit_account_registration_path, class: "#{cp(edit_account_registration_path, cameras_path, notifications_path)}" %></li>
            <li><%= link_to 'Log out', destroy_account_session_path, method: :delete %></li>
            
                <!--dropdown, i decided not to use it-->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<%= link_to settings_path, class: "#{cp(settings_path)}" do %>-->
            <!--<%= image_tag 'menu48.png' %>-->
            <!--<% end %>-->

            <!--    <ul class="dropdown-menu" role="menu">-->
            <!--    <li><%= link_to 'Settings', edit_account_registration_path %></li>-->
            <!--    <li><%= link_to 'Support', edit_account_registration_path %></li>-->
            <!--    <li><%= link_to 'Log out', destroy_account_session_path, method: :delete %></li>-->
            <!--    </ul>-->
            <!--</li>-->
            <% else %>
            <li><%= link_to'Log In', new_account_session_path, class: "#{cp(new_account_session_path)}" %></li>
            <li><%= link_to'Sign Up', new_account_registration_path, class: "#{cp(new_account_registration_path)}" %></li>
            <!--<li><%= link_to 'Sign Up', new_account_registration_path %></li>-->
            <% end %>
<!--<li><%= link_to "Sign Up", new_account_registration_path, class: "#{cp(new_account_registration_path)}" %> </li>-->
        </ul>
    </nav>
</div>